// Global color variable are going here.

$background-main: #070F2B;
$background-secondary: #1C1A55;
$background-darkgrey-super-dark: #161623;

$foreground-main: #9290C3;
$foreground-secondary: #535C91;