@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/app/styles/colors.scss';

body {
  color: $foreground-main;
  background: $background-main;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($background-darkgrey-super-dark, 0.5);
  border-radius: 5px;
  -webkit-transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
  margin: 1px 0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba($background-darkgrey-super-dark, 0.75);
}