@import '@/app/styles/colors.scss';

$text-editor-text-size: 18px;
$text-editor-line-height: 20px;

.text-attributes {
    font-family: "Roboto Mono", monospace;
    font-size: $text-editor-text-size;
    line-height: $text-editor-line-height;
    letter-spacing: 0px;

    white-space: nowrap;
}

.text-editor-main-container {
    position: relative;
    overflow-y: auto;
    height: 100%;
    background-color: $background-darkgrey-super-dark;
}

.text-editor-container {
    display: flex;
    min-height: 100%;
}

.text-editor-line-numbers {
    min-width: 30px;
    text-align: right;
    display: flex;
    flex-direction: column;
    background-color: $background-secondary;
}

.text-editor-line-number {
    @extend .text-attributes;
    display: block;

    color: $foreground-secondary;

    padding-right: 5px;
}

.text-editor-input-container {
    position: relative;
    flex-grow: 1;
    overflow-y: hidden;

    padding-left: 5px;
}

.text-editor-input {
    @extend .text-attributes;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    background-color: transparent;
    color: $foreground-main;
    // color: transparent;
    caret-color: $foreground-secondary;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

.text-editor-main-container:hover .text-run-container {
    opacity: 1;
    visibility: visible;
}

.text-run-container {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    z-index: 1;
}

// Synthax hightlight

// .text-editor-input-backdrop {
//     display: none;
//     position: absolute;
// }

// .highlighted-line {
//     @extend .text-attributes;
//     display: block
// }

// .type-text {
//     color: $foreground-main;
// }